body{
    background-color: #C4C4C4 ;
   }
   
   header{
    background-color: white;
    color: #C43A30;
    min-width: 1000px;
    width: 100%;
    height: 250px;
    margin-left: 0%;
    margin-right: 0%;
   }
   
   #header-top img{
    width: 400px;
    float: left;
   }

   